/* TABELLE */

table {
    width: 50%;
}

caption {
    font-weight: bold;
    font-size: x-large;
    color: black;
}

thead {
    background-color: rgb(65, 93, 117);
}

th,
td {
    padding: 5px;
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #D6EEEE;
}